* {
    margin: 0;
    padding: 0;
}

body {
    /* background: white;
    color: black; */
}

/* left div section  */

.left {
    width: 25vw;
}

.right {
    width: 75vw;
}

.home ul {
    margin: 2px;
}

.home ul li {
    display: flex;
    gap: 12px;
    width: 14px;
    list-style: none;

}